@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,300&display=swap");

/* Codigo css del formulario centrado y dentro de un contenedor */
body {
    font-family: "Ubuntu", sans-serif;
    background-color: #fdf8f7;
    margin: 0;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
}

.img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.img img {
    height: 300px;
}

form {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 8px;
    margin: 0 auto;
}

.input-group {
    margin-bottom: 20px;
}

.input-group h1 {
    text-align: center;
}

.partido {
    text-align: center;
}

.partido img {
    width: 90%;
}

.input-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group input[type="tel"],
.input-group select,
.input-group textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.input-group input[type="text"]:focus,
.input-group input[type="tel"]:focus,
.input-group select:focus,
.input-group textarea:focus {
    border-color: #fdf8f7;
    outline: none;
}

.comentarios {
    font-family: "Ubuntu", sans-serif;
}

.submit-btn {
    display: block;
    width: 100%;
    background-color: #c8332d;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    border: 2px solid transparent;
}

.submit-btn:hover {
    background-color: transparent;
    border-color: #bb0121;
    color: #bb0121;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    opacity: 0;
    /* Establecer inicialmente en 0 para que esté oculto */
    transition: opacity 0.5s;
    /* Añadir una transición suave */
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.show-alert {
    opacity: 1;
    /* Clase para mostrar la alerta */
}

/*---------------------------------------------------
               css btn disabled                   
---------------------------------------------------*/
.submit-btn:disabled {
    background-color: #cccccc; /* Cambia el color de fondo a un gris claro */
    cursor: not-allowed; /* Cambia el cursor a un ícono de "no permitido" */
    color: #888888; /* Cambia el color del texto a un gris oscuro */
    border: 1px solid #aaaaaa; /* Cambia el borde a un gris */
  }

@media all and (max-width: 480px) {

    /* Codigo css del formulario centrado y dentro de un contenedor */
    body {
        display: block;
    }

    .img {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .img img {
        height: 250px;
    }

    form {
        width: 80%;
        margin: 0 auto;
    }
}